<div class="container">

    <h4 class="mt-4">Roles</h4>

    <div class="p-grid p-fluid card">      
      <p-table
      paginatorDropdownAppendTo="body"
       [value]="roleList"
       [lazy]="true"
       (onLazyLoad)="load($event)"
       [paginator]="true"
       [rows]="rows"
       [showCurrentPageReport]="true"      
       [rowsPerPageOptions]="[10,25,50]"
       [totalRecords]="totalRecords"
       [loading]="loading"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
       >
        <ng-template pTemplate="header">
          <tr>  
            <th></th>          
            <th>Name</th>
            <th>Code</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr>     
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button pTooltip="See creatable roles" (click)="viewCreatbele(role)" pButton pRipple type="button" icon="pi pi-eye" class="p-button p-button-success p-button-outlined"></button>
                <button pTooltip="Add creatable roles" (click)="createCreatbele(role)" pButton pRipple type="button" icon="pi pi-plus" class="p-button p-button-success p-button-outlined"></button>
                <button pTooltip="Default User Actions" (click)="userActions(role)" pButton pRipple type="button" icon="pi pi-cog" class="p-button p-button-success p-button-outlined"></button>
              </div>
            </td>       
            <td>{{role.name}}</td>
            <td>{{role.code}}</td>
            <td>            
            </td>  
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>



<p-dialog [modal]="true" [header]="creabeleHeader" [(visible)]="isViewCreatbele">
    <p-table [value]="creabeleRoleList">
      <ng-template pTemplate="header">
        <tr>  
          <th></th>          
          <th>Name</th>
          <th>Code</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>     
          <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="deleteCreatableRole(role.code)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button>
              </div>
          </td>       
          <td>{{role.name}}</td>
          <td>{{role.code}}</td>
          <td>            
          </td>  
        </tr>
      </ng-template>
    </p-table>
</p-dialog>

<p-dialog [modal]="true" [header]="createHeader" [(visible)]="selectedRole && isCreateCreatbele">
  <div class="col-8">
      <div class="p-field">
          <p-multiSelect 
            name="selectedRoles" 
            #fRole="ngModel"  
            appendTo="body" 
            [options]="roleList" 
            [(ngModel)]="createdCode" 
            optionLabel="name"
            optionValue="code" 
            >
          </p-multiSelect>
      </div>            
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="saveCreatable()" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>





<p-dialog [modal]="true" [header]="userActionHeader" [(visible)]="isViewUserAction">
  <p-table [value]="userActionList">
    <ng-template pTemplate="header">
      <tr>  
        <th>
          <button pTooltip="Add creatable roles" (click)="addUserAction()" pButton pRipple type="button" icon="pi pi-plus" class="p-button p-button-success p-button-outlined"></button>
        </th>          
        <th>Name</th>
        <th>Code</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ua>
      <tr>     
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="deleteUserActions(ua)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button>
            </div>
        </td>       
        <td>{{ua.name}}</td>
        <td>{{ua.code}}</td>
        <td>            
        </td>  
      </tr>
    </ng-template>
  </p-table>
</p-dialog>


<p-dialog [modal]="true" [header]="userActionCreateHeader" [(visible)]="selectedRole && isCreateUserAction">
  <div class="col-8">
      <div class="p-field">
        <p-multiSelect 
            name="selectedRoles" 
            #fRole="ngModel"  
            appendTo="body" 
            [options]="allUserActionList" 
            [(ngModel)]="createdUserAction" 
            optionLabel="name"
            >
          </p-multiSelect>
      </div>            
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="saveUserAction()" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>