<div class="container">
    <h4 class="mt-4">Waste Disposal <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video"><i class="pi pi-video"></i></span> </h4>

    <div class="p-grid p-fluid card">
      <div class="row">
        <div class="col-4" *ngIf="!isAuditor">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Unit</label>
            </div>
            <div class="col-8">
              <app-unit-select [isView]="!isAnyAdmin" (onUpdateUnit)="onUpdateUnit($event)"></app-unit-select>   
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Project</label>
            </div>
            <div class="col-8">
              <app-project-select   [project]="selectedProject" [isView]="false" (onUpdateProject)="onChangeProject($event)"></app-project-select>               
            </div>
          </div>
        </div>
        <div class="col-2" *ngIf="!isAuditor && creatable && excellUploadable">
          <button                                                    
            class="ml-4"
            type="button"
            (click)="uploadExcell()"
            pButton
            pRipple       
            style="width: 150px;margin-left: 4px;"                   
            styleClass="p-button-warn"
            > Upload Excel
          </button>
        </div>
        <div class="col-2" *ngIf=" downloadable">
          <button class="ml-4" type="button" (click)="downloadExcel()" pButton pRipple
          style="width: 150px;margin-left: 4px;" styleClass="p-button-warn"> Download Excel
          </button>
        </div>
      </div>
    </div>
    
    <div class="p-grid p-fluid card table-card">

  
      <p-table
      (selection)="selected"
      selectionMode="multiple" 
      [rowSelectable]="isRowSelectable"
      (selectAllChange)="onSelectAllChange($event)"
      (selectionChange)="onSelectionChange($event)"
      
      paginatorDropdownAppendTo="body"
       [value]="wasteDisposalData"
       [lazy]="true"
       (onLazyLoad)="load($event)"
       [paginator]="true"
       [rows]="rows"
       [showCurrentPageReport]="true"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
       [rowsPerPageOptions]="[10,25,50]"
       [totalRecords]="totalRecords"
       [loading]="loading"
       >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
              <div class="row">
                <div class="col">
                  <button *ngIf="creatable" class="ml-4" type="button" (click)="new()" pButton pRipple icon="pi pi-plus"
                    styleClass="p-button-warn"></button>
                </div>
                <div pTooltip="Delete selected all records" class="col" *ngIf="selected.length > 0 && deletable">
                  <button class="ml-4" icon="pi pi-times" class="p-button p-button-danger p-button-outlined" type="button" (click)="deleteAll(esCode.toString())" pButton></button>
                </div>
              </div>
            </th>
            
            <!-- <th>Company</th>
            <th>Branch</th> -->
            <th>Project</th>
            <th> Waste Type</th>
            <th>Disposal Method</th>
            <th>Amount Disposed</th>
            <th>Unit of Measure</th>
            <th pSortableColumn="year">Year<p-sortIcon field="year"></p-sortIcon></th> 
            <th pSortableColumn="month">Month<p-sortIcon field="month"></p-sortIcon></th>            
            <th>Country Code</th> 
            <th>GHG Emission</th>
            

  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-wasteDisposal>
          <tr>
            <td>
              <p-tableCheckbox [value]="wasteDisposal" ></p-tableCheckbox>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf="viewable" (click)="view(wasteDisposal.id)" pButton pRipple type="button" icon="pi pi-eye" class="p-button p-button-success p-button-outlined"></button>
                <button *ngIf="editable" (click)="edit(wasteDisposal.id)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-button-warning p-button-outlined"></button>
                <button *ngIf="deletable" (click)="onDeleteClick(wasteDisposal.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button>
                <button *ngIf="isAuditor && requestable" (click)="onCheck(wasteDisposal, esCode)" pButton pRipple type="button"
                  icon="pi pi-check-circle" class="p-button p-button-success p-button-outlined"></button>
              </div>
            </td>
            <!-- <td>{{Refrigerant.company}}</td>  
            <td>{{ Refrigerant.branch }}</td> -->
            <td>{{ wasteDisposal.project.name }}</td>
            <td>{{ getwasteType(wasteDisposal.wasteType) }}</td>
            <td>{{ wasteDisposal.disposalMethod }}</td>
            <td>{{ wasteDisposal.amountDisposed }}</td>
            <td>{{ parameterUnits && parameterUnits[wasteDisposal.amountDisposed_unit] ? parameterUnits[wasteDisposal.amountDisposed_unit].label: '-' }}</td>

            <td>{{ wasteDisposal.year }}</td>
            <td>{{ getMonth(wasteDisposal.month) }}</td>
            <td>{{ wasteDisposal.countryCode }}</td>
            <td>{{ wasteDisposal.emission | number:'1.4-4'}}</td>
  
  
  
  
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
<!-- <p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
