
<ol>
    <li>Download the sample excel given below.</li>
    <li>Add the hierarchy of the organisation.</li>
    <li>Pls note not to change excel template.</li>
    <li>Save and upload the excel file here to create the organisation hierarchy.</li>
</ol>


<div class="p-grid p-fluid col-md-9 col-sm-12">
    <div class="row">
        <div class="col-6">
            <app-file-uploader
                [addable]="true"
                *ngIf="!isCreatignMultipleUnits"
                [multiple]="false"
                (onChangeFile)="onAddFile($event)"
                (onDeleteFile)="onRemoveFile($event)"
            ></app-file-uploader>
        </div>
        <div class="col-6">
            <a target="_blank" href="assets/unit-adding.xlsx">
                <p-button icon="pi pi-arrow-circle-down" label="Download template & sample"></p-button>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 justify-content-end">
            <p-button [disabled]="!uploadedExcellFile" icon="pi pi-check" (click)="onUpload($event)" label="Upload"></p-button>
        </div>
    </div>
</div>

