
<form #fData="ngForm">
  <div class="container pl-20 pr-20">
    <div class="mb-12" *ngIf="!isSetting">
      <h4 class="mt-4">{{ isNewEntry ? "Add" : isView ? "View": "Edit" }} User Details</h4>
    </div>
    <div class="mb-12" *ngIf="isSetting">
      <h4 class="mt-4">Reset Password</h4>
    </div>
    <div class="card">
      <div class="p-grid p-fluid col-md-12 col-sm-12.">
          <div class="row">
              <div class="col-6 col-md-6">
                <div class="p-field">
                    <label >User Type *</label>
                    <!-- <p-dropdown               
                      appendTo="body" 
                      [disabled]="isView"
                      name="project"
                      [options]="roles"
                      [(ngModel)]="loginProfile.roles"
                      placeholder="Select .."
                      optionLabel="name"
                      #fRole="ngModel"                  
                    ></p-dropdown> -->
                    <p-multiSelect (onChange)="enableButtons()" name="selectedRoles" [disabled]="isView || isSetting" #fRole="ngModel"  appendTo="body" [options]="roles" [(ngModel)]="loginProfile.roles" optionLabel="name"></p-multiSelect>

                    <p class="info-message text-danger"*ngIf="(!loginProfile.roles && fRole.touched) || (isNewEntry && fData.submitted && loginProfile.roles.length == 0)">
                      This is a mandatory field
                    </p>
                </div>
              </div>

              <div class="col-6 col-md-6" *ngIf="isNewEntry || (!isNewEntry && loginProfile.userName)">
                <div class="p-field">
                    <label>Email *</label>
                    <input
                      (change)="emailChage()"
                      [disabled]="isView || isSetting"
                      type="email"
                      name="firstname"
                      [(ngModel)]="loginProfile.userName"
                      class="form-control"
                      placeholder="Enter the email"
                      required
                      #fEmail="ngModel"
                    />
                    <p class="info-message text-danger" *ngIf="(fEmail.touched && !loginProfile.userName) || (isNewEntry && fData.submitted && !loginProfile.userName)">
                      This is a mandatory field
                    </p>
                    <p class="info-message text-danger" *ngIf="emialtaken">
                      Email alredy taken
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div class="p-grid p-fluid col-md-12 col-sm-12."  *ngIf="isSetting">
        <div class="row">
          <div class="col-6 col-md-6">
            <div class="p-field">
              <label>Old Password *</label>
              <input                  
                  type="password"
                  name="oldPassword"
                  [(ngModel)]="oldPassword"
                  class="form-control"
                  placeholder="Enter the password"
                  required
                  #oldPasswordf="ngModel"
              />
              <p class="info-message text-danger" *ngIf="!oldPassword && (fData.submitted || oldPasswordf.touched)">
                  This is a mandatory field
              </p>
            </div>
        </div>
        </div>
      </div>
      <div class="p-grid p-fluid col-md-12 col-sm-12."  *ngIf="!isView">
          <div class="row">
              <div class="col-6 col-md-6">
                  <div class="p-field">
                    <label>Password *</label>
                    <input
                        [disabled]="isView"
                        type="password"
                        name="password"
                        [(ngModel)]="loginProfile.password"
                        class="form-control"
                        placeholder="Enter the password"
                        required
                        #fPassword="ngModel"
                    />
                    <p class="info-message text-danger" *ngIf="(isNewEntry && (fPassword.touched && !loginProfile.password) || (isNewEntry && fData.submitted && !loginProfile.password))">
                        This is a mandatory field
                    </p>
                  </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="p-field">
                    <label>Confirm password *</label>
                    <input
                        [disabled]="isView"
                        type="password"
                        name="cpassword"
                        [(ngModel)]="password"
                        class="form-control"
                        placeholder="Confirm the password"
                        required
                        #fConPassword="ngModel"
                    />
                    <p class="info-message text-danger" *ngIf="( (isNewEntry || loginProfile.password)  && (fConPassword.touched && !password) || (isNewEntry && fData.submitted && !password))">
                        This is a mandatory field
                    </p>

                    <p class="info-message text-danger" *ngIf="isNewEntry &&  fConPassword.touched && password !== loginProfile.password ">
                        Passwords are not matching
                    </p>
                </div>
            </div>
          </div>
      </div>                            
    </div>


    <app-user-details-form *ngIf="!isSetting" [isCSIUser]="isCSIUser"></app-user-details-form>


    <div class="card">
      <div class="row p-grid p-fluid col-md-12 col-sm-12">
        <p style="color: red;" *ngIf="isNotAllEditableRoles">You are not allowed to edit this user</p>
      </div>
      <div class="row p-grid p-fluid col-md-12 col-sm-12">
        <div class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2" *ngIf="!isSetting && isFocalPoint">
          <button type="button" class="btn btn-secondary text-uppercase" (click)="allowProjects()">Allow Projects</button>
        </div>
        <div class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2" *ngIf="!isSetting && (isOperationalAdmin || isCSITrainee)">
            <button type="button" class="btn btn-secondary text-uppercase" (click)="allowUnits()">Allow Units</button>
        </div>
        <div class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2">
            <button type="button" class="btn btn-secondary text-uppercase" (click)="onBackClick()">{{isSetting ? 'Cancel': 'Back'}}</button>
        </div>
        <div *ngIf="!isNewEntry" class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2">
            <button class="btn btn-danger text-uppercase" type="button"(click)="onDeleteClick()">Delete</button>
        </div>
        <div class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2" *ngIf="!isView">
            <button [disabled]="emialtaken || isNotAllEditableRoles || (password !== loginProfile.password)" (click)="save(fData)" class="btn btn-primary text-uppercase" type="submit">{{isSetting ? 'Change': 'Save'}}</button>
        </div>
        <div class="d-flex col-2 justify-content-end p-button-vertical mb-0 pl-2" *ngIf="(isORGAdmin || isCSIUser ) && !isNewEntry && !isSetting">
          <p-dropdown
            (onChange)="onChangeStatus( $event)"
            name="userStatus"
            [options]="userStatusList"
            [(ngModel)]="loginProfile.profileState"
            #fmonth="ngModel"
            placeholder="Select .."              
            appendTo="body"
            optionLabel="name"
            optionValue="value"
            ></p-dropdown>
      </div>
      </div>
      <div class="row">
          <div *ngIf="creating" class="d-flex col-6 justify-content-end">
              <p class="info-message text-warning mt-2" *ngIf="true">
              please wait a moment...
              </p>
          </div>
      </div>
    </div>
  </div>

  
</form>  


  
   <!-- <p-toast position="top-right"></p-toast> -->
    <!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
  
  
  
  
  