<div class="container">
    <h4 class="mt-4">Request List</h4>
    <div class="p-grid p-fluid card">
      <div class="row">
        <div class="col-6" *ngIf="type!== 'verify'">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Unit</label>
            </div>
            <div class="col-8">
              <!-- <p-dropdown
                  [filter]="true" filterBy="name" [showClear]="true"
                  (onChange)="onUpdateUnit()"
                  name="selectUnit"
                  [options]="units"
                  [(ngModel)]="selectedUnit"
                  placeholder="Select .."
                  optionLabel="name"       
                  appendTo="body"                    
              >
              <ng-template let-u pTemplate="unit">
                <div class="flex align-items-center operatingSystems-item">
                    <div>
                        {{u.name}} <span *ngIf="u.perfix"> - {{u.perfix}}</span>
                    </div>
                </div>
              </ng-template>
            </p-dropdown> -->
            <app-unit-select [isView]="!isCSIUser" (onUpdateUnit)="onUpdateUnit($event)"></app-unit-select>   
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Project</label>
            </div>
            <div class="col-8">
              <!-- <p-dropdown *ngIf="type!== 'verify'"
                  [filter]="true" filterBy="name" [showClear]="true"
                  (onChange)="onChangeProject_()"
                  name="selectUnit"
                  [options]="projects"
                  [(ngModel)]="selectedProject"
                  placeholder="Select .."
                  optionLabel="name"       
                  appendTo="body"                    
              ></p-dropdown> -->
              <app-project-select  [project]="selectedProject" [isView]="false" (onUpdateProject)="onChangeProject($event)"></app-project-select>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Emission Source</label>
            </div>
            <div class="col-8">
              <p-dropdown 
                [options]="emissionSourceList"
                [(ngModel)]="selectedEmissionSource" 
                name="emissionSource" 
                optionValue="code" optionLabel="name"
                appendTo="body"
                (onChange)="load({})"
                placeholder="Select..."
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Status</label>
            </div>
            <div class="col-8">
              <p-dropdown 
                [options]="statusList"
                [(ngModel)]="selectedStatus" 
                name="status" 
                appendTo="body"
                (onChange)="load({})"
                placeholder="Select..."
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid p-fluid card">

        <p-table
      paginatorDropdownAppendTo="body"

        [value]="requestList"
        [lazy]="true"
        (onLazyLoad)="load($event)"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [responsive]="true"
       >
        <ng-template pTemplate="header">
          <tr>
            <th>No</th>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Emission Source</th>
            <th>Year</th>
            <th>Parameter</th>
            <th>Value</th>
            <th *ngIf="type!== 'verify'">Verifier name</th>  
            <th *ngIf="type == 'verify'">Requested From</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requestData let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{requestData.project?.name}}</td>
            <td>{{requestData.project?.projectType.name}}</td>
            <td>{{requestData.esCode}}</td>
            <td>{{requestData.project?.year}}</td>
            <td>{{requestData.parameter.name}}</td>
            <td>{{requestData.activityData[requestData.parameter?.code]}}</td>
            <td *ngIf="type!== 'verify'">{{requestData.verifier.firstName}} {{requestData.verifier.lastName}}</td>
            <td *ngIf="type == 'verify'">{{requestData.requestFrom.firstName}} {{requestData.requestFrom.lastName}}</td>
            <td>{{requestData.evidenceStatus}}</td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
                <button 
                  *ngIf="type !== 'verify' && (requestData.evidenceStatus === 'Pending' || requestData.evidenceStatus === 'Returned') " 
                  (click)="view(requestData)" pButton pRipple 
                  type="button" 
                  icon="pi pi-eye" 
                  class="p-button p-button-success p-button-outlined"
                ></button>
                <button 
                  *ngIf="type !== 'verify' && (requestData.evidenceStatus === 'Approved' || requestData.evidenceStatus === 'Uploaded') " 
                  (click)="download(requestData)" pButton pRipple 
                  type="button" 
                  icon="pi pi-download" 
                  class="p-button p-button-success p-button-outlined"
                ></button>
                <button *ngIf="type === 'verify'" (click)="gotoVerify(requestData)" pButton pRipple type="button" icon="pi pi-check-circle" class="p-button p-button-success p-button-outlined"></button>
              </div>
            </td>
  
          </tr>
        </ng-template>
      </p-table>

    </div>
</div>

