<div class="container pl-20 pr-20">
  <div class="mb-12">
      <h4 class="mt-4">{{ isNewEntry ? "Add" : isView ? "View": "Edit" }} Passenger Air Transport</h4>
  </div>
  <form #fData="ngForm" (ngSubmit)="save(fData)" novalidate style="padding: 20px;">
    <div class="p-grid p-fluid card">
      <div class="row" style="width: 90.666667%;margin-bottom: 10px;margin-left: 4px;">
        <div id="basic" class="row">
          <div class="col">
            <div class="p-field row container" *ngIf="isAnyAdmin">
              <div class="col-9 p-2">
                  <label for="institution">Unit *</label>
                  <app-unit-select [isView]="isView" [unit]="selectedUnit" (onUpdateUnit)="onUpdateUnit($event)"></app-unit-select>                
              </div>
            </div>
            <div class="p-field row container" *ngIf="isProjectSelected">
                <div class="col-9 p-2">
                    <label for="institution">Project *</label>
                    <app-project-select [isView]="isView" [unit]="selectedUnit"[project]="selectedProject"  (onUpdateProject)="onChangeProject($event)" [data]="fData"></app-project-select>               
                </div>
            </div>
          </div>
          <div class="col">
            <div class="p-field row container"passengerAir>
              <label for="firstname">Year *</label>
              <div class="col-9 p-2">
                <input [disabled]="true" type="text" name="year" [(ngModel)]="passengerAir.year" class="form-control"
                placeholder="Enter Year" required />
              </div>
            </div>
            <div class="p-field row container" >
              <label for="firstname">Month *</label>
              <div class="col-9 p-2">
                <p-dropdown [disabled]="isView" name="month" [options]="months" [(ngModel)]="month"
                  (onChange)="monthCgange()" #fmonth="ngModel"
                  placeholder="Select .." optionLabel="name" appendTo="body" [required]="true"></p-dropdown>
              </div>
              <p class="info-message text-danger" *ngIf=" !month && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid p-fluid card">
      <div class="row" style="width: 90.666667%;margin-bottom: 10px;margin-left: 4px;">
        <div id="basic" class="row">
          <div class="col">
            <div class="p-field row container">
              <label for="year">Domestic/International * </label>
              <div class="col-9 p-2">
                  <p-dropdown [disabled]="isView" name="domesticInternational"
                      [options]="domesticInternationals" [(ngModel)]="domesticInternational" [required]="true"
                      #fdomesticInternational="ngModel" placeholder="Select .." optionLabel="name" appendTo="body" >
                  </p-dropdown>
              </div>
              <p class="info-message text-danger" *ngIf=" !domesticInternational && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field row container">
              <label for="firstname">Vehicle Number *</label>
              <div class="col-9 p-2">
                <input [disabled]="isView" type="text" name="vehicleNo" [(ngModel)]="passengerAir.vehicleNo"
                  class="col-8 form-control" placeholder="Vehicle No" required />
              </div>
              <p class="info-message text-danger" *ngIf=" !passengerAir.vehicleNo && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field row container">
              <label for="year">Number of Trips *</label>
              <div class="col-9 p-2">
                <input [disabled]="isView" type="number" name="noOfTrips" [(ngModel)]="passengerAir.noOfTrips"
                  class="col-8 form-control" placeholder="Number of trips" required />
              </div>
              <p class="info-message text-danger" *ngIf=" !passengerAir.noOfTrips && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field row container" *ngIf="(ownership |json) !== '{}' && ownership?.name === 'Hired'">
              <div class="row col-8">
                <p-checkbox (onChange)="check()" [(ngModel)]="checked" [value]="true" name="paid" class="col-2"></p-checkbox>
                <label class="col-7"  for="paid">Paid by the company</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-field row container">
              <label for="firstname">Ownership *</label>
              <div class="col-9 p-2">
                <p-dropdown [disabled]="isView" name="ownership" [options]="ownership_freightTransport"
                  [(ngModel)]="ownership" #fOwnership="ngModel" placeholder="Select .." optionLabel="name"
                  appendTo="body" [required]="true"></p-dropdown>
              </div>
              <p class="info-message text-danger" *ngIf=" !ownership && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field row container">
              <label for="year">One Way/ Round Trip *</label>
              <div class="col-9 p-2">
                <p-dropdown [disabled]="isView" name="option"
                  [options]="options_passenger_air" [(ngModel)]="passengerAir.option" #ffreightType="ngModel" [required]="true"
                  placeholder="Select .." optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
              </div>
              <p class="info-message text-danger" *ngIf=" !passengerAir.option && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field row container">
              <label for="year">Cabin Class *</label>
              <div class="col-9 p-2">
                <p-dropdown  [disabled]="isView" name="cabinclass"
                  [options]="class_passenger_air" [(ngModel)]="cabin_class" #ffreightType="ngModel" [required]="true"
                  placeholder="Select .." optionLabel="name" appendTo="body"></p-dropdown>
              </div>
              <p class="info-message text-danger" *ngIf=" !cabin_class && (fData.submitted)">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <ng-container *ngTemplateOutlet="ports"></ng-container>
    <div class="p-grid p-fluid card">
      <div class="row" style="width: 90.666667%;margin-bottom: 10px;margin-left: 4px;">
        <div id="basic" class="row">
          <div class="col">
            <div id="basic" class="row p-2"  *ngIf="puesData && puesData.sourceType && puesData.sourceType.toString() === 'B'">
              <div class="col-4" style="margin-left: 10px;">                    
                <p-radioButton (onClick)="isMobileChange()" [(ngModel)]="isMobile" class="radio-b" name="groupname" [value]="true"></p-radioButton>
                <label class="radio-l">Mobile</label>
              </div> 
      
              <div class="col-6" style="margin-left: 10px;">                    
                <p-radioButton (onClick)="isMobileChange()" [(ngModel)]="isMobile" class="radio-b" name="groupname" [value]="false"></p-radioButton>
                <label class="radio-l">Stationary</label>
              </div> 
              <div class="col-9" style="margin-left: 10px;"> </div>
              <br>
            </div>
            <div class="p-field row container" *ngIf="isView || !isNewEntry">
              <div class="col-9 p-2">
                <label>Emission (tCO<sub>2</sub>) *</label>
              <input
                [disabled]="true"
                type="text"
                name="emission"
                [(ngModel)]="passengerAir.e_sc"
                class="form-control"
                placeholder="Enter the last name"
                required
              />         
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="row p-grid p-fluid col-md-6 col-sm-6">
          <div class="d-flex col-4 justify-content-start p-button-vertical mb-0 pl-2">
            <button class="btn btn-secondary text-uppercase" (click)="onBackClick()">
              Back
            </button>
          </div>
          <div class="d-flex col-4 justify-content-start p-button-vertical mb-0 pl-2">
            <button *ngIf="!isNewEntry  && deletable" class="btn btn-danger text-uppercase" type="button" (click)="onDeleteClick()">
              Delete
            </button>
          </div>
          <div class="d-flex col-4 justify-content-end p-button-vertical mb-0 pl-2">
            <button [disabled]="creating || !puesAssigned || isDuplicated" class="btn btn-primary text-uppercase" type="submit">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #ports>
  <div class="p-grid p-fluid card" >
    <div class="row" style="width: 90.666667%;margin-bottom: 10px;margin-left: 4px;">
      <div id="basic" class="row">
        <div class="col">
          <div class="p-field row container"passengerAir>
            <label for="firstname">Departure Airport *</label>
            <div class="col-9 p-2">
                <!-- <p-autoComplete [(ngModel)]="departure_port" [suggestions]="results" (completeMethod)="search($event)" [multiple]="false"
                field="label" dataKey="value" appendTo="body" [required]="true" placeholder="Start typing the airport name"></p-autoComplete> -->
                <p-dropdown [disabled]="isView" name="departure_port" [options]="departure_ports" [(ngModel)]="passengerAir.departurePort"
                   [filter]="true" filterBy="city_name" [showClear]="true" (onChange)="search($event, 'departure')" [virtualScroll]="true" [itemSize]="30"
                placeholder="Select .." optionLabel="city_name" optionValue="airport_code"  appendTo="body" ></p-dropdown>
            </div>
            <p class="info-message text-danger" *ngIf=" !passengerAir.departurePort && (fData.submitted)">
              This is a mandatory field
            </p>
          </div>
          <div class="p-field row container"passengerAir>
            <label for="firstname">Transist 1</label>
            <div class="col-9 p-2">
              <!-- <p-autoComplete [(ngModel)]="transist1" [suggestions]="results" (completeMethod)="search($event)" [multiple]="false"
              field="label" dataKey="value" appendTo="body" placeholder="Start typing the airport name"></p-autoComplete> -->
              <p-dropdown [disabled]="isView" name="transist1" [options]="transist1_ports" [(ngModel)]="passengerAir.transist1"
                   [filter]="true" filterBy="CityName" [showClear]="true" (onChange)="search($event, 'trans1')"
                placeholder="Select .." optionLabel="CityName" optionValue="AirportCode"   appendTo="body" ></p-dropdown>
            </div>
            <div class="p-field d-flex align-items-center col-3" *ngIf="!addTrans">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-plus-circle"
                class="p-button-rounded p-button-text"
                (click)="addTransist()"
              ></button>
            </div>
          </div>
          <div class="p-field row container"passengerAir *ngIf="addTrans">
            <label for="firstname">Transist 2</label>
            <div class="col-9 p-2">
              <!-- <p-autoComplete [(ngModel)]="transist2" [suggestions]="results" (completeMethod)="search($event)" [multiple]="false"
              field="label" dataKey="value" appendTo="body" placeholder="Start typing the airport name"></p-autoComplete> -->
              <p-dropdown [disabled]="isView" name="transist2" [options]="transist2_ports" [(ngModel)]="passengerAir.transist2"
                   [filter]="true" filterBy="CityName" [showClear]="true" (onChange)="search($event, 'trans2')"
                placeholder="Select .." optionLabel="CityName" optionValue="AirportCode"   appendTo="body" ></p-dropdown>
            </div>
            <div class="p-field d-flex align-items-center col-3" *ngIf="addTrans">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-minus-circle"
                class="p-button-rounded p-button-text"
                (click)="addTransist()"
              ></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-field row container"passengerAir>
            <label for="firstname">Destination Airport *</label>
            <div class="col-9 p-2">
              <!-- <p-autoComplete [(ngModel)]="destination_port" [suggestions]="results" (completeMethod)="search($event)" [multiple]="false"
              field="label" dataKey="value" appendTo="body" [required]="true" placeholder="Start typing the airport name"></p-autoComplete> -->
              <p-dropdown [disabled]="isView" name="destination_port" [options]="destination_ports" [(ngModel)]="passengerAir.destinationPort"
                   [filter]="true" filterBy="CityName" [showClear]="true" 
                placeholder="Select .." optionLabel="CityName" optionValue="AirportCode"  appendTo="body" ></p-dropdown>
            </div>
            <p class="info-message text-danger" *ngIf=" !passengerAir.destinationPort && (fData.submitted)">
              This is a mandatory field
            </p>
          </div>
          <div class="p-field row container"passengerAir>
            <label for="firstname">No of employees</label>
            <div class="col-9 p-2">
              <input [disabled]="isView" type="number" name="weight"
              [(ngModel)]="employees" class="form-control" placeholder="Enter no of employees"
              required />
            </div>
            <p class="info-message text-danger" *ngIf=" !employees && (fData.submitted)">
              This is a mandatory field
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>