<div class="p-grid p-fluid card">
    <div class="row p-2 mt-10">
        <div *ngIf="rejectedDocs!== undefined && rejectedDocs.length>0" style="padding: 0px 0px 10px 0px;">
            <div class="row" *ngFor="let doc of rejectedDocs">
                <div class="row">
                    <div class="col-4">
                        <label for="">Comment by verifier</label>
                    </div>
                    <div class="col-8">{{doc.verifierComment}}</div>
                </div><br>
                <div class="row">
                    <div class="col-4">
                        <label for="">Comment by uploader</label>
                    </div>
                    <div class="col-8">{{doc.comment}}</div>
                </div><br>
                <div class="row">
                    <div class="col-4">
                        <label for="">Evidence document</label>
                    </div>
                    <div class="col-7">{{doc.document.fileName}}</div>
                    <button class="col-1"
                          (click)="download(doc.document)" pButton pRipple 
                          type="button" 
                          icon="pi pi-download" 
                          class="p-button p-button-success p-button-outlined"
                        ></button>
                </div>
                <br>
                <hr>
            </div>
        </div>
        <div class="row" style="padding: 0px 0px 10px 0px;">
            <div class="col-4">
                <label for="">Comment by verifier</label>
            </div>
            <div class="col-8">{{evidence?.comment}}</div>
        </div>
        <br><br>
        <div class="row" style="padding: 0px 0px 10px 0px;" *ngIf="evidenceProvidable">
            <div class="col-4">
                <label for="">Upload Evidence</label>
            </div>
            <div class="col-8">
                <app-file-uploader
                    [addable]="true"
                    [multiple]="false"
                    (onChangeFile)="onAddFile($event)"
                    (onDeleteFile)="onRemoveFile($event)"
                ></app-file-uploader>
            </div>
        </div>
        <br ><br>
        <div class="row" style="padding: 0px 0px 10px 0px;" *ngIf="evidenceProvidable">
            <div class="col-4">
                <label for="">Comment</label>
            </div>
            <div class="col-8">
                <textarea rows="5" cols="45" [(ngModel)]="comment" ></textarea>
            </div>
        </div>
        <div class="d-flex col-8 justify-content-start"  *ngIf="evidenceProvidable">
            <button class="btn btn-primary text-uppercase btn-lg" (click)="onUpload($event)">
                Submit
            </button>
        </div>
        <div class="d-flex col-4 justify-content-start" >
            <button class="btn btn-secondary text-uppercase ml-15 btn-lg" (click)="onHide()">
                Cancel
            </button>
        </div>
        
    </div>
</div>
