
  
  
  <div class="p-grid p-fluid card">

    <!-- <div class="p-grid p-fluid col-md-12 col-sm-12" *ngIf ="efType =='fuel'" >
      <div class="row p-2">
        <div class="col-12 col-md-6">
          <div class="p-field">
            <label for="institution">Factor Type *</label>
            <p-dropdown
              name="aaaa"
              [options]="fuelFactypes"
              [(ngModel)]="fFacType"
              #ssss="ngModel"
              placeholder="Select .."
              optionLabel="code"
              optionValue="code"
              appendTo="body"
            ></p-dropdown>           
          </div>
        </div>
      </div>
      <br>
    </div> -->
    <div class="p-grid p-fluid col-md-12col-sm-12">
      <div class="row">
          <div class="col-6"></div>
          <div class="col-4">
              <p-button icon="pi pi-down" (click)="downLoadTemplate()" label="Download Template"></p-button>
          </div>
      </div>
    </div>

    <br>
  
  
    <br>
    <div class="col-6" >
      <app-file-uploader
          [addable]="true"
          [multiple]="false"
          (onChangeFile)="onAddFile($event)"
          (onDeleteFile)="onRemoveFile($event)"
          ></app-file-uploader>
    </div>
  
    <br>
    <div class="p-grid p-fluid col-md-12col-sm-12">
      <div class="row">
          <div class="col-6"></div>
          <div class="col-4">
              <p-button [disabled]="!uploadedExcellFile" icon="pi pi-check" (click)="onUpload($event)" label="Upload"></p-button>
          </div>
      </div>
    </div>
    
  
  </div>