<div class="container">
  <h4 class="mt-4">Boiler <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video"><i class="pi pi-video"></i></span> </h4>
  <div class="p-grid p-fluid card">
    <div class="row">
      <div class="col-4" *ngIf="!isAuditor">
        <div class="row">
          <div class="col-2">
            <label style="padding-top: 8px">Unit</label>
          </div>
          <div class="col-8">
            <app-unit-select [isView]="!isAnyAdmin" (onUpdateUnit)="onUpdateUnit($event)"></app-unit-select>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <label style="padding-top: 8px">Project</label>
          </div>
          <div class="col-8">
            <app-project-select   [project]="selectedProject" [isView]="false" (onUpdateProject)="onChangeProject($event)"></app-project-select>
          </div>
        </div>
      </div>
      <div class="col-2" *ngIf="!isAuditor && creatable && excellUploadable">
        <button class="ml-4" type="button" (click)="uploadExcell()" pButton pRipple
          style="width: 150px;margin-left: 4px;" styleClass="p-button-warn"> Upload Excel
        </button>
      </div>
      <div class="col-2" *ngIf="downloadable">
        <button class="ml-4" type="button" (click)="downloadExcel()" pButton pRipple
        style="width: 150px;margin-left: 4px;" styleClass="p-button-warn"> Download Excel
        </button>
      </div>
    </div>
  </div>

  <div class="p-grid p-fluid card table-card">
    <p-table
    dataKey="id"
    (selection)="selected"
    selectionMode="multiple" 
    [rowSelectable]="isRowSelectable"
    (selectAllChange)="onSelectAllChange($event)"
    (selectionChange)="onSelectionChange($event)"
      paginatorDropdownAppendTo="body" 
      [value]="boilerData" 
      [lazy]="true" 
      (onLazyLoad)="load($event)"
      [paginator]="true" 
      [rows]="rows" 
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
      [rowsPerPageOptions]="[10,25,50]"
      [totalRecords]="totalRecords" 
      [loading]="loading"
      >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>
            <div class="row">
              <div class="col">
                <button *ngIf="creatable" class="ml-4" type="button" (click)="new()" pButton pRipple icon="pi pi-plus"
                  styleClass="p-button-warn"></button>
              </div>
              <div pTooltip="Delete selected all records" class="col" *ngIf="selected.length > 0 && deletable">
                <button class="ml-4" icon="pi pi-times" class="p-button p-button-danger p-button-outlined" type="button" (click)="deleteAll(esCode.toString())" pButton></button>
              </div>
            </div>
          </th>
          <th>Project</th>
          <th>Purpose</th>
          <th>Fuel Type</th>
          <th>Fuel</th>
          <th>Consumption</th>
          <th>Unit of Measure</th>
          <th pSortableColumn="year">Year<p-sortIcon field="year"></p-sortIcon></th>
          <th pSortableColumn="month">Month<p-sortIcon field="month"></p-sortIcon></th>
          <th>Emission of CO<sub>2</sub></th>
          <th>Emission of CH<sub>4</sub></th>
          <th>Emission of N<sub>2</sub>O</th>
          <th>Total Emission</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-boilData>
        <tr>
          <td>
            <p-tableCheckbox [value]="boilData" ></p-tableCheckbox>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button *ngIf="viewable" (click)="view(boilData.id)" pButton pRipple type="button" icon="pi pi-eye"
                class="p-button p-button-success p-button-outlined"></button>
              <button *ngIf="editable" (click)="edit(boilData.id)" pButton pRipple type="button" icon="pi pi-pencil"
                class="p-button p-button-warning p-button-outlined"></button>
              <button *ngIf="deletable" (click)="onDeleteClick(boilData.id)" pButton pRipple type="button"
                icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button>
              <button *ngIf="isAuditor && requestable" (click)="onCheck(boilData, esCode)" pButton pRipple type="button"
                icon="pi pi-check-circle" class="p-button p-button-success p-button-outlined"></button>
            </div>
          </td>

          <td>{{ boilData.project.name }}</td>
          <td>{{ boilData.purpose }}</td>
          <td>{{ boilData.fuelType }}</td>
          <td>{{ getFuelName(boilData.fuel) }}</td>
          <td>{{ boilData.consumption | number: '1.0-5'}}</td>
          <td>
            {{ parameterUnits && parameterUnits[boilData.consumption_unit] ?
            parameterUnits[boilData.consumption_unit].label: '-' }}
          </td>
          <td>{{ boilData.year }}</td>
          <td>{{ getMonth(boilData.month) }}</td>
          <td>{{ boilData.e_sc_co2 | number:'1.4-4'}}</td>
          <td>{{ boilData.e_sc_ch4 | number:'1.4-4'}}</td>
          <td>{{ boilData.e_sc_n2o | number:'1.4-4'}}</td>
          <td>{{ boilData.e_sc | number:'1.4-4'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>