<div class="container">
  <h4 class="mt-4">Waste Incineration</h4>
  <div class="ui-fluid formgrid grid">
    <p-table
      paginatorDropdownAppendTo="body" [lazy]="true" [value]="wasteIncFacs" (onLazyLoad)="loadEF($event)" [paginator]="true" [rows]="rows"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,25,50]" [totalRecords]="totalRecords" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="col-sm-2" style="width: 30%">
              <!-- <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button> -->

              <button class="ml-4" type="button" (click)="newEF()" pButton pRipple icon="pi pi-plus"
                styleClass="p-button-warn"></button>


            </div>
          </th>
          <th>Factor</th>
          <th>MSW Type</th>
          <th>Waste Category</th>
          <th>Type of Waste</th>
          <th>Value</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-efData>
        <tr>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="viewEF(efData.id)" pButton pRipple type="button" icon="pi pi-eye"
                class="p-button p-button-success p-button-outlined"></button>
              <button (click)="editEF(efData.id)" pButton pRipple type="button" icon="pi pi-pencil"
                class="p-button p-button-warning p-button-outlined"></button>
              <!-- <button (click)="onDeleteClick(elecData.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button> -->
            </div>
          </td>

          <td>{{ efData.name }}</td>
          <td>{{ efData.mswType }}</td>
          <td>{{ efData.wasteCategory }}</td>
          <td>{{ efData.typeOfWate }}</td>
          <td>EF:{{ efData.ef ? efData.ef:" N/A" }} | dm: {{ efData.dm ? efData.dm:" N/A" }} | cf: {{ efData.cf ?
            efData.cf:" N/A" }} | fcf: {{ efData.fcf ? efData.fcf:" N/A" }} | of:{{ efData.of ? efData.of:" N/A" }}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Waste Incineration" [(visible)]="displayFuel" [style]="{width: '50vw' }">
  <form #wasteFacData="ngForm" (ngSubmit)="saveWasteFac(wasteFacData)" novalidate>

    <div class="p-grid p-fluid col-md-9 col-sm-12">
      <div class="row p-2">
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Gas Type *</label>
            <p-dropdown name="gasTypes" [disabled]="isView" [(ngModel)]="wasteIncFac.name" [options]="gasTypes"
              placeholder="Select .." optionValue="name" optionLabel="name" (onChange)="onChangeGasType($event.value)">
            </p-dropdown>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Type of MSW *</label>
            <p-dropdown [disabled]="isView" [(ngModel)]="wasteIncFac.mswType" name="tomsw" [options]="mswTypes"
              placeholder="Select .." optionValue="name" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Tier*</label>
            <p-dropdown [disabled]="isView" name="tiere" [(ngModel)]="wasteIncFac.tier" [options]="tieres"
              placeholder="Select .." optionValue="name" optionLabel="name"></p-dropdown>
          </div>
        </div>
      </div>

    </div>


    <div class="p-grid p-fluid col-md-9 col-sm-12">
      <div class="row p-2">


        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Waste Category*</label>
            <p-dropdown name="wcat" [disabled]="isView" [options]="wasteCategories"
              [(ngModel)]="wasteIncFac.wasteCategory" placeholder="Select .." optionValue="name" optionLabel="name"
              (onChange)="onChangeWasteCat($event.value)"></p-dropdown>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Type of Waste*</label>
            <p-dropdown name="typeofwaste" [disabled]="isView" [options]="wasteTypes"
              [(ngModel)]="wasteIncFac.typeOfWate" placeholder="Select .." optionValue="name" optionLabel="name">
            </p-dropdown>
          </div>
        </div>


      </div>
    </div>


    <div class="p-grid p-fluid col-md-9 col-sm-12" *ngIf="wasteIncFac.name == 'CO2'">
      <div class="row p-2">
        <div class="col-12 col-md-3">
          <div class="p-field">
            <label>Dry Matter Content*</label>
            <input [disabled]="isView" [disabled]="false" [(ngModel)]="wasteIncFac.dm" type="text" name="dm"
              class="form-control" placeholder="Enter Dry Matter Content" required />
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="p-field">
            <label>Fraction of Carbon in Dry Matter*</label>
            <input [disabled]="isView" [disabled]="false" [(ngModel)]="wasteIncFac.cf" type="text" name="cf"
              class="form-control" placeholder="Enter Fraction of Carbon" required />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="p-field">
            <label>Fraction of Fossil Carbon in Toatal Carbon*</label>
            <input [disabled]="isView" [disabled]="false" [(ngModel)]="wasteIncFac.fcf" type="text" name="fcf"
              class="form-control" placeholder="Enter Fraction of Fossil Carbon" required />
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="p-field">
            <label>Oxidation Factor*</label>
            <input [disabled]="isView" [disabled]="false" [(ngModel)]="wasteIncFac.of" type="text" name="of"
              class="form-control" placeholder="Enter Oxidation Factor" required />
          </div>
        </div>
      </div>
    </div>


    <div class="p-grid p-fluid col-md-9 col-sm-12">
      <div class="row p-2">
        <div class="col-12 col-md-8" *ngIf="wasteIncFac.name != 'CO2'">
          <div class="p-field">
            <label>Emission Factor*</label>
            <input [disabled]="isView" [disabled]="false" [(ngModel)]="wasteIncFac.ef" type="number" name="ef"
              class="form-control" placeholder="Enter Emission Factor" required />
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-field">
            <label>Country*</label>
            <p-dropdown name="country" [disabled]="isView" [options]="countries" [(ngModel)]="wasteIncFac.country"
              placeholder="Select .." optionValue="code" optionLabel="name"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-grid p-fluid col-md-6 col-sm-6">

      <div class="d-flex col-4 justify-content-start p-button-vertical mb-0 pl-10">
        <button class="btn btn-secondary text-uppercase" (click)="onBackClick()" type="button">
          Back
        </button>
      </div>

      <div class="d-flex col-4 justify-content-end p-button-vertical mb-0 pl-10">
        <button pButton type="submit" label="Save"></button>
      </div>

    </div>
  </form>
</p-dialog>