.card-text{
    font-size: 14px;
    line-height:2;
    font-family: Inter;
    font-weight: 200;
}

p-checkbox{
    margin-bottom: 5px;
}

.check-box-label{
    margin-left: 10px;
}

.check{
    max-width: 350px;
}