<div class="container">
    <h4 class="mt-4">{{title}}</h4>
   
    <!-- ////////////////////////////////////// -->
    <div class="p-grid p-fluid ">
        <div class="row" style="margin-left: 3px;">
            <div id="basic" class="row">
                <div class="col card" style="margin-right: 2%;">
                    <div class="p-field row container" *ngFor="let detail of card1">
                        <div class="col-7" >
                            <p class = "card-text"><strong>{{detail.title}}</strong> </p>
                        </div> 
                        <div class="col-5">
                            <p class = "card-text">{{detail.value}}</p>
                        </div>                 
                    </div>                                        
                </div>
                <div class="col card">
                    <div class="p-field row container" *ngFor="let detail of card2">
                        <div class="col-6">
                            <p class = "card-text"><strong>{{detail.title}}</strong> </p>
                        </div> 
                        <div class="col-6">
                            <p class = "card-text">{{detail.value}}</p>
                        </div>                  
                    </div>  
                    <div class="col-2 ">
                        <button  class="btn btn-primary text-uppercase btn-lg" (click)="downloadExcel()">
                          Export
                        </button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////// -->
    <div class="p-grid p-fluid card">
        <div class="p-grid p-fluid " *ngIf="type === 'summary'">
            <p-radioButton class="col-4" name="groupname" value="emissionSource" [(ngModel)]="check" label="Emission Sources" (onClick)="generateEmissionPieChart(); generateEmissionBarChart()"></p-radioButton>
            <p-radioButton *ngIf="appService.hasUserActionAccessTo(userActions.UNIT_WISE_TOTAL_SEE)" class="col-8" name="groupname" value="unit" [(ngModel)]="check" label="Unit" (onClick)="generateUnitPieChart(); generateUnitBarChart()"></p-radioButton>
        </div>
        <br >
        <!-- ////////////////////////////////////// -->
        <div class="p-grid p-fluid " *ngIf="type === 'summary'">
            <div class="row" style="margin-left: 3px;">
                <div id="basic" class="row">
                    <div class="col card" style="margin-right: 2%;height: 600px;">
                        <p-chart height="400" type="pie" [data]="data" [options]="chartOptions" class="pie-chart" ></p-chart>                                          
                    </div>
                    <div class="col card" style="height: 600px; overflow-y: scroll" >
                        <p-chart height="500" type="bar" [data]="basicData" [options]="horizontalOptions" class="bar-chart"></p-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////// -->
        <div *ngIf="check === 'emissionSource'"><ng-container *ngTemplateOutlet="es"></ng-container></div>
        <div  *ngIf="check === 'unit'"><ng-container *ngTemplateOutlet="unit"></ng-container></div>
    </div>
    
    <!-- ////////////////////////////////////// -->
    <div class="p-grid p-fluid card" *ngIf="type === 'summary'">
        <h6 class="mt-4"> Total Emission Details</h6>
        <div class="col card" style="margin-right: 2%;">
            <p-chart height="1000px"  type="bar" [data]="estdata" [options]="estOptions" ></p-chart>                                          
        </div>
       
    </div>
    <div class="p-grid p-fluid card">
        <h6 class="mt-4">Comments(Optional)</h6>
        <!-- <div class="p-field row container">
            <div class="col-2" >
                <p class = "card-text"><strong>Title</strong> </p>
            </div> 
            <div class="col-10">
                <input type="text" 
                name="title"
                class="form-control"/>
            </div>                 
        </div> 
        <br> -->
        <div class="p-field row container">
            <!-- <div class="col-2" >
                <p class = "card-text"><strong>Description</strong> </p>
            </div> 
            <div class="col-10"> -->
                <textarea *ngIf="project" type="textarea" 
                name="description"
                class="form-control"
                [(ngModel)]="project.comment"
                ></textarea>
            <!-- </div>                  -->
        </div> 
    </div>

    <div class="row" >
        <p *ngIf="type === 'verification' && isDisabled">You have evidence requests in pending, uploaded or returned statuses</p>
        <div class="d-flex col-1 justify-content-start" style="float: right;">
            <button class="btn btn-secondary text-uppercase ml-15 btn-lg" (click)="onBackClick()">
            Back
            </button>
        </div>
        <div class="d-flex col-1 justify-content-start" style="float: right;" *ngIf="type === 'verification' && appService.hasUserActionAccessTo(userActions.PROJECT_VERIFICATION)">
            <button class="btn btn-primary text-uppercase btn-lg" (click)="verify()" [disabled]="isVerified || isDisabled">
            Verify
            </button>
        </div>
        <div class="d-flex col-1 justify-content-start" style="float: right;" *ngIf="type === 'verification' && appService.hasUserActionAccessTo(userActions.PROJECT_VERIFICATION)">
            <button class="btn btn-primary text-uppercase btn-lg" (click)="reject()" [disabled]="isVerified || isDisabled">
            Reject
            </button>
        </div>
    </div>
    <br>
</div>

<ng-template #es>
    <div class="p-grid p-fluid ">
        <h6 class="mt-4">Emission Sources</h6>
        <p-table
      paginatorDropdownAppendTo="body"
            [value]="emissionSourceList"
            [lazy]="true"
            (onLazyLoad)="load($event)"
            [paginator]="true"
            [rows]=10
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]"
            [totalRecords]=2
        >
            <ng-template pTemplate="header" >
            <tr>
                <th>No</th>
                <th>Emission Source</th>
                <th>Total Emission (tCO₂e)</th>
                <th>Actions</th>  
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-emissionSource let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{ getName(emissionSource.es) | titlecase}}</td>
                <td>{{emissionSource.total | number:'1.4-4'}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="view(emissionSource.es.id)" pButton pRipple type="button" icon="pi pi-eye" class="p-button p-button-success p-button-outlined"></button>
                    <!-- <button (click)="edit(projectData.id)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-button-warning p-button-outlined"></button>
                    <button (click)="onDeleteClick(projectData.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button> -->
                </div>
                </td>
    
            </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>

<ng-template #unit>
    <div class="p-grid p-fluid ">
        <h6 class="mt-4">Units</h6>
        <p-table
      paginatorDropdownAppendTo="body"
            [value]="units"
            [lazy]="true"
            (onLazyLoad)="load($event)"
            [paginator]="true"
            [rows]=10
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]"
            [totalRecords]=units.length
        >
            <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Unit</th>
                <th>Level</th>
                <th>Total Emission (tCO₂e)</th>
                <th>Actions</th>  
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-unit let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{unit.unit_name}}</td>
                <td>{{unit.unit_levelName}}</td>
                <td>{{unit.total | number:'1.4-4'}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="viewUnit(unit.id, unit.total.toFixed(4))" pButton pRipple type="button" icon="pi pi-eye" class="p-button p-button-success p-button-outlined"></button>
                </div>
                </td>
    
            </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>
