<div class="container">
  <div class="row">
    <h4 class="mt-4 col-5">Air Freight <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video"><i class="pi pi-video"></i></span> </h4>

    <div class="row">
      <div class="col">
        <button *ngIf="creatable" class="ml-4" type="button" (click)="newFreightAir()" pButton pRipple icon="pi pi-plus"
          styleClass="p-button-warn"></button>
      </div>
      <div pTooltip="Delete selected all records" class="col" *ngIf="selected.length > 0 && deletable">
        <button class="ml-4" icon="pi pi-times" class="p-button p-button-danger p-button-outlined" type="button" (click)="deleteAll(esCode.toString())" pButton></button>
      </div>
    </div>
  </div>
    <div class="p-grid p-fluid card">
      <div class="row">
        <div class="col-5"  *ngIf="!isAuditor">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Unit</label>
            </div>
            <div class="col-8">
              <app-unit-select [isView]="!isAnyAdmin" (onUpdateUnit)="onUpdateUnit($event)"></app-unit-select>   
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col-2">
              <label style="padding-top: 8px">Project</label>
            </div>
            <div class="col-8">
              <app-project-select   [project]="selectedProject" [isView]="false" (onUpdateProject)="onChangeProject($event)"></app-project-select>               
            </div>
          </div>
        </div>

        <div class="col-2" *ngIf=" downloadable">
          <button class="ml-4" type="button" (click)="downloadExcel()" pButton pRipple
          style="width: 150px;margin-left: 4px;" styleClass="p-button-warn"> Download Excel
          </button>
        </div>
      </div>
    </div>

    <div class="p-grid p-fluid card">

  
      <p-table

      dataKey="id"
      (selection)="selected"
      selectionMode="multiple" 
      [rowSelectable]="isRowSelectable"
      (selectAllChange)="onSelectAllChange($event)"
      (selectionChange)="onSelectionChange($event)"
      paginatorDropdownAppendTo="body"
       [value]="freightAirData"
       [lazy]="true"
       (onLazyLoad)="load($event)"
       [paginator]="true"
       [rows]="rows"
       [showCurrentPageReport]="true"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
       [rowsPerPageOptions]="[10,25,50]"
       [totalRecords]="totalRecords"
       [loading]="loading"
       >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th></th>
            <th>Project</th>
            <th>Vehicle No</th>
            <th>Method</th>
            <th>Domestic/International</th>
            <th>Cargo Type</th>
            <th>Departure Country OneWay</th> 
            <th>Destination Country OneWay</th>   
            <th>Departure Country TwoWay</th> 
            <th>Destination Country TwoWay</th>            
            <th>First transist oneWay</th> 
            <th>Second transist oneWay</th> 
            <th>Third transist oneWay</th> 
            <th>First transist TwoWay</th> 
            <th>Second transist TwoWay</th> 
            <th>Third transist TwoWay</th> 
            <th>Ownership</th>
            <th>OneWay/TwoWay</th>
            <th>Departure Airport OneWay</th>
            <th>Destination Airport OneWay</th> 
            <th>Departure Airport TwoWay</th>
            <th>Destination Airport TwoWay</th> 
            <th>No of Trips</th>
            <th pSortableColumn="month">Month<p-sortIcon field="month"></p-sortIcon></th>  
            <th pSortableColumn="year">Year<p-sortIcon field="year"></p-sortIcon></th>           
            <th>Up Distance Unit</th> 
            <th>Down Distance Unit</th>
            <th>Up Distance</th>
            <th>Down Distance</th>
            <th>Up Weight</th> 
            <th>Down Weight</th>  
            <th>Up Weight Unit</th> 
            <th>Down Weight Unit</th>            
            <th>Up Cost</th> 
            <th>Down Cost</th>
            <th>Up Cost Per KM</th>
            <th>Down Cost Per KM</th>
            <!-- <th>Emission</th> -->
            <th>Emission (CO<sub>2</sub>)</th>
            <th>Emission (CH<sub>4</sub>)</th>
            <th>Emission (N<sub>2</sub>O)</th>
            <th>Total Emission</th>
            


  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-freightAir>
          <tr>
            <td>
              <p-tableCheckbox [value]="freightAir" ></p-tableCheckbox>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf="viewable" (click)="view(freightAir.id)" pButton pRipple type="button" icon="pi pi-eye" class="p-button p-button-success p-button-outlined"></button>
                <button *ngIf="editable" (click)="edit(freightAir.id)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-button-warning p-button-outlined"></button>
                <button *ngIf="deletable"  (click)="onDeleteClick(freightAir.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button p-button-danger p-button-outlined"></button>
                <button *ngIf="isAuditor && requestable" (click)="onCheck(freightAir, esCode)" pButton pRipple type="button"
                  icon="pi pi-check-circle" class="p-button p-button-success p-button-outlined"></button>
              </div>
            </td>

            
            <td>{{ freightAir.project.name }}</td>
            <td>{{ freightAir.vehicleNo }}</td>
            <td>{{ freightAir.method }}</td>
            <td>{{ getdomOrInt(freightAir.domOrInt) }}</td>
            <td>{{ getCargoType(freightAir.cargoType) }}</td>
            <td>{{ freightAir.departureCountryOneWay?.name }}</td>
            <td>{{ freightAir.destinationCountryOneWay?.name }}</td>
            <td>{{ freightAir.departureCountryTwoWay?.name }}</td>
            <td>{{ freightAir.destinationCountryTwoWay?.name }}</td>
            <td>{{ freightAir.transist_oneWay_1?.name }}</td>
            <td>{{ freightAir.transist_oneWay_2?.name }}</td>
            <td>{{ freightAir.transist_oneWay_3?.name }}</td>
            <td>{{ freightAir.transist_twoWay_1?.name }}</td>
            <td>{{ freightAir.transist_twoWay_2?.name }}</td>
            <td>{{ freightAir.transist_twoWay_3?.name }}</td>
            <td>{{ freightAir.ownership }}</td>
            <td>{{ freightAir.option }}</td>
            <td>{{ freightAir.departureAirportOneWay?.name }}</td>
            <td>{{ freightAir.destinationAirportOneWay?.name }}</td>
            <td>{{ freightAir.departureAirportTwoWay?.name }}</td>
            <td>{{ freightAir.destinationAirportTwoWay?.name }}</td>
            <td>{{ freightAir.noOfTrips }}</td>
            <td>{{ getMonth(freightAir.month) }}</td>
            <td>{{ freightAir.year }}</td>
            <td>{{ parameterUnits && parameterUnits[freightAir.upDistance_unit] ? parameterUnits[freightAir.upDistance_unit].label: '-' }}</td>
            <td>{{ parameterUnits && parameterUnits[freightAir.downDistance_unit] ? parameterUnits[freightAir.downDistance_unit].label: '-' }}</td>
            <td>{{ freightAir.upDistance | number:'1.2-5'}}</td>
            <td>{{ freightAir.downDistance | number:'1.2-5'}}</td>
            <td>{{ freightAir.upWeight| number:'1.2-5' }}</td>
            <td>{{ freightAir.downWeight | number:'1.2-5'}}</td>
            <td>{{ parameterUnits && parameterUnits[freightAir.upWeight_unit] ? parameterUnits[freightAir.upWeight_unit].label: '-' }}</td>
            <td>{{ parameterUnits && parameterUnits[freightAir.downWeight_unit] ? parameterUnits[freightAir.downWeight_unit].label: '-' }}</td>
            <td>{{ freightAir.upCost | number:'1.2-5'}}</td>
            <td>{{ freightAir.downCost| number:'1.2-5' }}</td>
            <td>{{ freightAir.upCostPerKM | number:'1.2-5'}}</td>
            <td>{{ freightAir.downCostPerKM | number:'1.2-5'}}</td>
            <!-- <td>{{ freightAir.emission }}</td> -->
            <td>{{ freightAir.e_sc_co2 | number:'1.4-4'}}</td>
            <td>{{ freightAir.e_sc_ch4 | number:'1.4-4'}}</td>
            <td>{{ freightAir.e_sc_n2o | number:'1.4-4'}}</td>
            <td>{{ freightAir.e_sc | number:'1.4-4'}}</td>
  
  
  
  
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  

